@import "../../../bourbon/bourbon";
@import "../../../neat/neat";

$transparent-background-white: rgba(255,255,255,0.8);
$lesstransparent-background-white: rgba(255,255,255,0.81);


body {
  background-image: url('http://previews.123rf.com/images/rtsubin/rtsubin1304/rtsubin130400006/18906935-Striped-gray-concrete-wall-background-texture-Stock-Photo.jpg');
}

a {
  text-decoration: none;
  color: #3F392D;
}

div#app {
  height: 100%;
}

div.app {
  @include outer-container;
  height: 100%;
  line-height: 22px;
  text-align: center;
}

div.feed-container {
  @include span-columns(5 of 6);
  background-color: $transparent-background-white;
  height: 100%;

  img {
    box-shadow: 5px 5px 2px grey;
  }
}

.add-squash{
    zoom: 25%;
    height: 2px;
    width: 2px;
  }

.squash {
  @include outer-container();

  .squash-content {
    @include span-columns(8);
    @include shift(2);
    border-bottom: 1px solid grey;
  }
}

.newSquash{

  h3{
  float: left;
  }

  h4{
  float: left;
  }
  @include outer-container();
  @include span-columns(11 of 12);
  @include shift(0.5);
  background-color: $lesstransparent-background-white;
  color: #95AF73;

  form{
    @include span-columns(11);
    @include shift(0.5);

    textarea{
      @include span-columns(10 of 11);
      border: 3px solid #cccccc;
      padding: 5px;
      font-family: Tahoma, sans-serif;
      background-position: bottom right;
      background-repeat: no-repeat;
      resize: none;
      outline: none;
      box-shadow: 2px 2px 1px #95AF73;
        

    }

    textarea.description{
      height: 200px;
    }
    .buffer{
      margin-top: 20px;
      @include span-columns(8);
    }
    button{
    @include span-columns(3 of 11);
      
      margin-top: 20px;
      margin-right: 20px;

      color: #95AF73;
      outline: none;
      width: 15em;  
      height: 3em;
      top: 100%;
    }
  }
}

div.sign-in {
  @include span-columns(1 of 6);
  background-color: $transparent-background-white;
  display: block;
  font-size: 20px;
  padding-bottom: 50px;
  margin-top: 5em;
}
