
.squash {
  background: #fefefe;
  border-bottom: 1px solid #ccc;
  padding: 1rem;

  // mti stands for main-tag-image
  .mti {
    background: #492860;
    display: none;
    float: left;
    height: 4rem;
    margin-right: 0.7rem;
    width: 4rem;
    img { max-height: 100%; max-width: 100%; }
  }

  h2.title {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 0;
  }

  .content {
    @include shift(2);
  }
}
