
.app h1{
    text-align: center;
    background-color: rgb(255,122,011)
}
.user{
    float: left;
    color: blue;
    display: inline;
    background-color: #dcdcdc;
}

img{
      border-radius: 50%;
}

.User{
    width: 50%;
}

.User span{
    float: right;
}

.allSquashes{
    float: right;
    background-color: #dcdcdc;

}


.userSquashes{
    float: left;
}